// ユーザー情報テーブル
.user-table {
  vertical-align: middle;
  text-align: center;
}

// 上長お知らせ
.notice-group {
  margin-bottom: 20px;
  p {
    margin-bottom: 10px;
  }
}

.notice {
  color: red;
}

.red-box {
  color: red;
  padding: 0.2em 0.2em;
  font-weight: bold;
  border: solid 3px red;
}

/* ユーザー情報下ボタン */
.btn-users-show {
  margin-top: -10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

// 勤怠情報テーブル
#table-attendances {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

.btn-set-month {
  vertical-align: middle;
}


// 入力フォーム
.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

// ユーザー覧
#table-users {
  td {
    vertical-align: middle;
  }
}

// 基本情報ページ
.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}